### RPM cms dqmgui V00_01_R@ROOT_VERSION@
## INITENV +PATH PYTHON3PATH %{i}/${PYTHON3_LIB_SITE_PACKAGES}

%define tag 3d2d2b7133bb42f117ace928f2c88854051112cb
%define branch master
%define github_user cms-DQM
Source: git+https://github.com/%{github_user}/%{n}.git?obj=%{branch}/%{tag}&export=%{n}-%{realversion}&output=/%{n}-%{realversion}-%{tag}.tgz
Requires: root boost python3
Requires: py3-aiohttp py3-aiosqlite py3-async-lru py3-contextvars
BuildRequires: gmake

%prep
%setup -n %{n}-%{realversion}

%build
gmake %{makeprocesses} all ROOT_ROOT=${ROOT_ROOT} BOOST_ROOT=${BOOST_ROOT}
rm -rf objs

%install
rsync -a ./ %i/
rm -rf %i/src %i/plugins
