<tool name="tensorflow_@TOOL_VECTORIZATION@" version="@TOOL_VERSION@" revision="1">
  <client>
    <environment name="@TOOL_VECTORIZATION_KEY@_LIBDIR" default="@TOOL_ROOT@/lib"/>
  </client>
  <runtime name="@TOOL_VECTORIZATION_KEY@_PATH" value="@TOOL_ROOT@/bin" type="path"/>
</tool>
