#############################################################################
#List of pip based packages. One package per line
#To use separate version for py2 and py3, add ";python_version>'3.0'" e.g.
#package_name==py2_version ;  python_version<'3.0'
#package_name==py3_version ;  python_version>'3.0'
#############################################################################
#Use update_requirements.py script to auto-update versions. First package after
#line which starts with "#NO_AUTO_UPDATE:" will not be automatically updated e.g
##NO_AUTO_UPDATE: Force use version 1.2.3
#package_name==1.2.3
#In this case pip package package_name version will not be automatically updated.
#############################################################################
#To customize a package build e.g. providing extra Requirements, build, install
#flags or patching, please use either py{2,3}-package_name.file or package_name.file
#############################################################################
absl-py==0.11.0
aiohttp==3.7.4 ;python_version>'3.0'
aiosqlite==0.17.0 ;python_version>'3.0'
appdirs==1.4.4
argon2-cffi==20.1.0
argparse==1.4.0
asn1crypto==1.4.0
astor==0.8.1
astroid==1.6.6 ; python_version<'3.0'
astroid==2.5.1 ; python_version>'3.0'
astunparse==1.6.3
async-lru==1.0.2 ; python_version>'3.0'
async-timeout==3.0.1 ; python_version>'3.0'
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.5
avro==1.10.1
awkward==0.14.0
awkward1==0.4.4
backcall==0.2.0 ; python_version>'3.0'
backports_abc==0.5
backports-functools_lru_cache==1.6.1
backports-lzma==0.0.14
backports-shutil_get_terminal_size==1.0.0
backports-shutil_which==3.5.2
backports-ssl_match_hostname==3.7.0.1
backports-weakref==1.0.post1
backports-os==0.1.1
beautifulsoup4==4.9.3
bleach==3.3.0
bokeh==1.4.0 ; python_version<'3.0'
bokeh==2.3.0 ; python_version>'3.0'
boost-histogram==0.13 ; python_version>'3.0'
bottle==0.12.19 ; python_version>'3.0'
Bottleneck==1.3.2
cachecontrol==0.12.6 ; python_version>'3.0'
cachetools==3.1.1 ; python_version<'3.0'
cachetools==4.2.1 ; python_version>'3.0'
cachy==0.3.0 ; python_version>'3.0'
cleo==0.8.1 ; python_version>'3.0'
clikit==0.6.2 ; python_version>'3.0'
cmsml==0.1.1
correctionlib==1.1.0 ; python_version>'3.0'
crashtest==0.3.1 ; python_version>'3.0'
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
Click==7.1.2
#NO_AUTO_UPDATE: Source is defined in climate.file, changing version here is not going to get new sources
#Looks like package version in PyPi is very old
climate==0.4.6
cloudpickle==1.3.0
colorama==0.4.4
conan==1.34.1 ; python_version>'3.0'
configparser==4.0.2;python_version<'3.0'
contextlib2==0.6.0.post1
contextvars==2.4 ; python_version>'3.0'
coverage==5.5
cryptography==3.2.1
cx-Oracle==7.3.0
cycler==0.10.0
cython==0.29.22
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0 ; python_version>'3.0'
distlib==0.3.1
distro==1.5.0 ; python_version>'3.0'
docopt==0.6.2
docutils==0.16
downhill==0.4.0
entrypoints==0.3
enum34==1.1.10;python_version<'3.0'
fasteners==0.16 ; python_version>'3.0'
filelock==3.0.12
fire==0.4.0
flit==3.1.0; python_version>'3.0'
flit-core==3.1.0; python_version>'3.0'
flake8==3.8.4
flatbuffers==1.12.0 ; python_version>'3.0'
flawfinder==2.0.15
fs==2.4.12
funcsigs==1.0.2
functools32==3.2.3-2;python_version<'3.0'
future==0.18.2
futures==3.3.0;python_version<'3.0'
gast==0.4.0
gitdb2==2.0.6 ; python_version<'3.0'
gitdb==4.0.5 ; python_version>'3.0'
GitPython==2.1.15 ; python_version<'3.0'
GitPython==3.1.14 ; python_version>'3.0'
google-auth==1.27.0 ; python_version>'3.0'
google-auth-oauthlib==0.4.2 ; python_version>'3.0'
google-common==0.0.1
google-pasta==0.2.0
grpcio==1.36.0
grpcio-tools==1.36.0
#1.0.1 doesn't download (wheel only?)
h5py-cache==1.0
h5py==2.10.0
hepdata-lib==0.4.1
hep_ml==0.6.2
hist==2.0.1 ; python_version>'3.0'
histbook==1.2.5
histoprint==1.6.0 ; python_version>'3.0'
histogrammar==1.0.9 ; python_version<'3.0'
histogrammar==1.0.10 ; python_version>'3.0'
html5lib==1.1
hyperas==0.4.1 ; python_version>'3.0'
hyperopt==0.2.5
idna==2.10
immutables==0.15 ; python_version>'3.0'
importlib-metadata==2.1.1
importlib-resources==3.3.1
iniconfig==1.1.1
ipaddress==1.0.23
#ipykernel==4.10.1 ; python_version<'3.0'
ipykernel==5.5.0 ; python_version>'3.0'
ipython_genutils==0.2.0
#ipython==5.10.0 ; python_version<'3.0'
ipython==7.22.0 ; python_version>'3.0'
ipywidgets==7.5.1 ; python_version>'3.0'
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.3
joblib==0.14.1 ; python_version<'3.0'
joblib==1.0.1 ; python_version>'3.0'
jsonpickle==1.4.2
jsonschema==3.2.0
#jupyter_client==5.3.5 ; python_version<'3.0'
jupyter_client==6.1.11 ; python_version>'3.0'
#jupyter_console==5.2.0 ; python_version<'3.0'
jupyter_console==6.2.0 ; python_version>'3.0'
jupyter_core==4.6.3 ; python_version>'3.0'
jupyter==1.0.0 ; python_version>'3.0'
jupyterlab-widgets==1.0.0 ; python_version>'3.0'
Keras==2.4.3
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras2onnx==1.7.0 ; python_version>'3.0'
keyring==22.3.0 ; python_version>'3.0'
kiwisolver==1.1.0
law==0.1.3
#can not go to 1.5.x in python2 due to astroid
lazy-object-proxy==1.4.3
lizard==1.17.7
#NO_AUTO_UPDATE: Source is defined in llvmlite.file, changing version here is not going to get new sources. Still, keep the version
llvmlite==0.35.0 ; python_version>'3.0'
lockfile==0.12.2
luigi==2.8.13 ; python_version<'3.0'
luigi==3.0.2 ; python_version>'3.0'
lxml==4.6.2
lz4==2.2.1 ; python_version<'3.0'
lz4==3.1.3 ; python_version>'3.0'
Mako==1.1.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5 ; python_version<'3.0'
matplotlib==3.3.4 ; python_version>'3.0'
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==5.0.0 ; python_version<'3.0'
more-itertools==8.7.0 ; python_version>'3.0'
mpld3==0.5.2
mplhep==0.2.16 ; python_version>'3.0'
mpmath==1.2.1
multidict==5.1.0 ; python_version>'3.0'
nbconvert==5.6.1; python_version>'3.0'
nbdime==1.1.0 ; python_version> '3.0'
#5.0.3 does not support python2.7 even if pip thinks so
#nbformat==4.4.0 ; python_version<'3.0'
nbformat==5.1.2 ; python_version>'3.0'
networkx==2.2 ; python_version<'3.0'
networkx==2.5 ; python_version>'3.0'
neurolab==0.3.5
nose-parameterized==0.6.0
nose==1.3.7
node-semver==0.8.0 ; python_version>'3.0'
notebook==5.7.10 ; python_version<'3.0'
notebook==6.2.0 ; python_version>'3.0'
numba==0.52.0 ; python_version>'3.0'
numexpr==2.7.2
numpy==1.16.6 ; python_version<'3.0'
#numpy 1.19 needs an updated tensorflow
numpy==1.17.5 ; python_version>'3.0'
onnx==1.8.1
onnxmltools==1.7.0 ; python_version>'3.0'
onnxconverter-common==1.7.0 ; python_version>'3.0'
oauthlib==3.1.0 ; python_version>'3.0'
opt-einsum==2.3.2 ; python_version<'3.0'
opt-einsum==3.3.0 ; python_version>'3.0'
ordereddict==1.1
pkginfo==1.7.0 ; python_version>'3.0'
packaging==20.9
pandas==0.24.2 ; python_version<'3.0'
pandas==1.2.2 ; python_version>'3.0'
pandocfilters==1.4.3
parsimonious==0.8.1
parso==0.7.1
pastel==0.2.1 ; python_version>'3.0'
patch-ng==1.17.4 ; python_version>'3.0'
pathlib2==2.3.5
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.2.2 ; python_version<'3.0'
pillow==8.1.1 ; python_version>'3.0'
pkgconfig==1.5.2
plac==1.3.2
pluginbase==1.0.0 ; python_version>'3.0'
pluggy==0.13.1
ply==3.11
poetry==1.1.4 ; python_version>'3.0'
poetry-core==1.0.2 ; python_version>'3.0'
prettytable==1.0.1
prometheus_client==0.9.0
prompt_toolkit==1.0.18 ; python_version<'3.0'
prompt_toolkit==3.0.16 ; python_version>'3.0'
protobuf==3.15.1
prwlock==0.4.1
psutil==5.8.0
ptyprocess==0.7.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyasn1-modules==0.2.8 ; python_version>'3.0'
pybind11==2.6.2
pybrain==0.3.3
pycodestyle==2.6.0
pycparser==2.20
pycuda==2019.1.2
pycurl==7.43.0.5
pydot==1.4.2
pyflakes==2.2.0
Pygments==2.8.1 ; python_version>'3.0'
PyJWT==2.0.1 ; python_version>'3.0'
pylint==1.9.5 ; python_version<'3.0'
pylint==2.7.2 ; python_version>'3.0'
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.16.0 ; python_version<'3.0'
pyrsistent==0.17.3 ; python_version>'3.0'
py==1.10.0
pydantic==1.8 ; python_version>'3.0'
pylev==1.3.0 ; python_version>'3.0'
pysqlite==2.8.3; python_version<'3.0'
pytest==4.6.11 ; python_version<'3.0'
pytest==6.2.2 ; python_version>'3.0'
pytest-cov==2.11.1
pytest-runner==5.2
python-cjson==1.2.2;python_version<'3.0'
python-daemon==2.3.0
python-dateutil==2.8.1
python-ldap==3.3.1
python-rapidjson==1.0;python_version>'3.0'
pytoml==0.1.21;python_version>'3.0'
pytools==2020.3
pytz==2021.1
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole==4.7.7 ; python_version> '3.0'
QtPy==1.9.0
repoze-lru==0.7
rep==0.6.6 ; python_version> '3.0'
requests==2.25.1
requests-toolbelt==0.9.1 ; python_version> '3.0'
requests-oauthlib==1.3.0 ; python_version> '3.0'
root_numpy==4.8.0
root_pandas==0.7.0
rootpy==1.0.1
rsa==4.7.2 ; python_version>'3.0'
scandir==1.10.0
schema==0.7.4
scikit-learn==0.20.4 ; python_version<'3.0'
scikit-learn==0.24.1 ; python_version>'3.0'
scinum==1.1.3
scipy==1.2.3 ; python_version<'3.0'
scipy==1.6.1 ; python_version>'3.0'
threadpoolctl==2.0.0 ; python_version> '3.0'
seaborn==0.9.1
Send2Trash==1.5.0
setuptools-scm==3.5.0
shellingham==1.4.0 ; python_version> '3.0'
simplegeneric==0.8.1
singledispatch==3.6.1
six==1.15.0
skl2onnx==1.7.1 ; python_version>'3.0'
smmap==3.0.4
smmap2==3.0.1
soupsieve==1.9.6
#to update the patch needs to be fixed...
sqlalchemy==1.3.11
stevedore==1.32.0
subprocess32==3.5.4
sympy==1.5.1 ; python_version<'3.0'
sympy==1.7.1 ; python_version>'3.0'
tables==3.5.2 ; python_version<'3.0'
tables==3.6.1 ; python_version>'3.0'
#NO_AUTO_UPDATE:2: Force to use tensorflow 2.4.1; this should match the version in tensorflow-sources.spec
tensorboard==2.4.1 ; python_version>'3.0'
tensorboard-plugin-wit==1.8.0 ; python_version>'3.0'
tensorflow==2.4.1 ; python_version>'3.0'
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4 ; python_version<'3.0'
testpath==0.4.4 ; python_version>'3.0'
theanets==0.7.3
Theano==1.0.5
toml==0.10.2
tomlkit==0.7.0 ; python_version>'3.0'
tornado==5.1.1 ; python_version<'3.0'
tornado==6.1 ; python_version>'3.0'
#update needs setuptools update I think
tqdm==4.51.0
traitlets==4.3.3
typed-ast==1.4.2 ; python_version>'3.0'
typing_extensions==3.7.4.3
typing==3.7.4.3
uncertainties==3.1.5
uproot==3.13.0
uproot-methods==0.8.0
uproot4==0.1.2
urllib3==1.26.3
virtualenv-clone==0.5.4
virtualenv==20.4.2
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wheel==0.33.6
widgetsnbextension==3.5.1 ; python_version>'3.0'
#cannot wrapt update before astroid is
wrapt==1.11.2
xgboost==0.82 ; python_version<'3.0'
xgboost==1.3.3 ; python_version>'3.0'
#bumping this pulls in xrootd - which looks like it needs some understanding
xrootdpyfs==0.2.1
yarl==1.6.3 ;python_version>'3.0'
zipp==1.2.0 ; python_version<'3.0'
zipp==3.4.0 ; python_version>'3.0'
