absl-py==0.8.0
appdirs==1.4.3
argparse==1.4.0
asn1crypto==0.24.0
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
avro==1.9.1
awkward==0.12.8
backcall==0.1.0
backports_abc==0.5
backports-functools_lru_cache==1.5
backports-lzma==0.0.13;python_version<'3.0'
backports-shutil_get_terminal_size==1.0.0
backports-shutil_which==3.5.2
backports-ssl_match_hostname==3.7.0.1
backports-weakref==1.0.post1
beautifulsoup4==4.8.0
bleach==3.1.0
bokeh==1.3.4
Bottleneck==1.2.1
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
climate==0.4.6
cmstest==0.6.1
colorama==0.4.1
configparser==3.5.0
contextlib2==0.5.5
coverage==4.5.4
cryptography==2.7
cycler==0.10.0
cython==0.29.13
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
downhill==0.4.0
entrypoints==0.3
enum34==1.1.6;python_version<'3.0'
flake8==3.7.8
flawfinder==2.0.10
flit==1.3;python_version>'3.0'
fs==0.5.5a1
funcsigs==1.0.2
functools32==3.2.3-2;python_version<'3.0'
future==0.17.1
futures==3.3.0;python_version<'3.0'
gast==0.3.1
gitdb2==2.0.5
GitPython==2.1.14
google-common==0.0.1
grpcio==1.19.0
h5py-cache==1.0.0
h5py==2.10.0
hep_ml==0.6.0
histbook==1.2.5
histogrammar==1.0.9
html5lib==1.0.1
hyperas==0.4.1
hyperopt==0.1.2
idna==2.8
intreehooks==1.0
importlib-metadata==0.21
ipaddress==1.0.22
ipykernel==4.10.1
ipython_genutils==0.2.0
ipython==5.8.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.1
jsonpickle==1.2
jsonschema==2.6.0
jupyter_client==5.3.1
jupyter_console==5.2.0
jupyter_core==4.4.0
jupyter==1.0.0
Keras==2.2.5
keras-applications==1.0.8 
keras-preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lizard==1.16.6
llvmlite==0.29.0;python_version<'3.0'
lxml==4.4.1
lz4==2.1.10
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==5.0.0
mpld3==0.3
mpmath==1.1.0
nbconvert==5.5.0
nbdime==1.0.6
nbformat==4.4.0
networkx==2.2
neurolab==0.3.5
nose-parameterized==0.6.0
nose==1.3.7
notebook==5.7.8
numba==0.45.1;python_version<'3.0'
numexpr==2.7.0
oamap==0.12.4;python_version<'3.0'
onnx==1.5.0
ordereddict==1.1
packaging==19.1
pandas==0.24.2
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.5.1
pathlib2==2.3.4
pbr==5.4.3
pexpect==4.7.0
pickleshare==0.7.5
pillow==6.1.0
pkgconfig==1.5.1
plac==1.1.0
pluggy==0.11.0
ply==3.11
prettytable==0.7.2
prometheus_client==0.6.0
prompt_toolkit==1.0.15
protobuf==3.4.0
prwlock==0.4.0
psutil==5.6.3
ptyprocess==0.6.0
pyasn1-modules==0.2.6
pyasn1==0.4.7
pybind11==2.3.0
pybrain==0.3.3
pycodestyle==2.5.0
pycparser==2.19
pycuda==2019.1.2
pycurl==7.43.0.3
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.4.2
pylint==1.9.5
pymongo==3.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
py==1.8.0
pysqlite==2.8.3;python_version<'3.0'
pytest==4.4.2
pytest-cov==2.7.1
python-cjson==1.2.1;python_version<'3.0'
python-dateutil==2.8.0
python-ldap==3.2.0
pytools==2019.1.1
pytoml==0.1.21
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
repoze-lru==0.7
rep==0.6.6
requests==2.22.0
root_numpy==4.8.0
root_pandas==0.7.0;python_version<'3.0'
rootpy==1.0.1;python_version<'3.0'
scandir==1.10.0
schema==0.7.1
scikit-learn==0.20.4
scipy==1.2.2
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.3
sqlalchemy==1.3.8
stevedore==1.31.0
subprocess32==3.5.4
sympy==1.4
tables==3.4.4
terminado==0.8.2
testpath==0.4.2
theanets==0.7.3
Theano==1.0.4
thriftpy==0.3.9
tornado==5.1.1
tqdm==4.35.0
traitlets==4.3.2
typing_extensions==3.7.4
typing==3.7.4.1
uncertainties==3.1.2
uproot==3.9.3;python_version<'3.0'
uproot-methods==0.7.1
urllib3==1.25.3
virtualenv-clone==0.5.3
virtualenv==16.0.0
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.6
wheel==0.33.6
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==0.82
xrootdpyfs==0.1.6;python_version<'3.0'
hepdata-lib==0.3.0;python_version<'3.0'
