<tool name="sherpa_@TOOL_VECTORIZATION@" revision="1">
  <client>
    <environment name="@TOOL_VECTORIZATION_KEY@_BINDIR" default="$TOOL_BASE/bin"/>
    <environment name="@TOOL_VECTORIZATION_KEY@_LIBDIR" default="$TOOL_BASE/lib/SHERPA-MC"/>
  </client>
  <runtime name="@TOOL_VECTORIZATION_KEY@_SHERPA_LIBRARY_PATH" value="$TOOL_BASE/lib/SHERPA-MC" type="path"/>
</tool>
